################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Nibbles/.vs
/Nibbles/bin/Debug/net6.0
/Nibbles/obj
/SnakesGame/bin/Debug/net6.0
/SnakesGame/obj
